@(open: List[models.Restaurant], closed: List[models.Restaurant])
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Restaurants at the University of South Florida</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>
<div data-role="page">
	<div data-role="header">
		<h1>USF Restaurants</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li data-role="list-divider">Open</li>
			@open.map { r =>
			<li><a href="@routes.Application.restaurant(r.id)">@r.name</a></li>
			}
			<li data-role="list-divider">Closed</li>
			@closed.map { r =>
			<li><a href="@routes.Application.restaurant(r.id)">@r.name</a></li>
			}
		</ul>
	</div>
</div>
</body>
